<!DOCTYPE html>
<html>
  <%- include('./partials/header') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <main>
      <div class="content">
        <!-- Block Content -->
      </div>
      <%- include('./partials/footer') %>
    </main>
  </body>
</html>
