<!DOCTYPE html>
<html>
  <%- include('./partials/header') %>
  <body>
    <div class="col-sm-2"><%- include('nav.ejs') %></div>
    <div class="col-sm-10">
      <!-- Block content -->
    </div>
    <%- include('./partials/footer') %>
  </body>
</html>
