<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="stylesheets/reset.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
  <link
    rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📋</text></svg>"
  />
  <script
    src="https://kit.fontawesome.com/4c536a6bd5.js"
    crossorigin="anonymous"
  ></script>
  <title><%= title %></title>
</head>
