<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="stylesheets/reset.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
  <link rel="icon" type="image/png" href="images/favicon.ico" />
  <script
    src="https://kit.fontawesome.com/4c536a6bd5.js"
    crossorigin="anonymous"
  ></script>
  <title><%= title %></title>
</head>
