<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form method="POST" action="/new">
      <label for="message">Message</label>
      <input type="text" id="message" name="message" />
      <button>Submit</button>
    </form>
  </body>
</html>
