body {
  display: grid;
  grid-template-columns: clamp(220px, 25%, 280px) 1fr;
  background-color: #f7f8fc;
}

aside {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 28px 20px;
  background-color: #363740;
  color: #a4a6b3;
}

main {
  grid-column-start: 2;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto 1fr auto;
  padding: 28px 24px;
  overflow-y: scroll;
  scrollbar-width: thin;
}

img {
  max-width: 40px;
  border-radius: 100%;
}

nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 4px;
}

li:hover {
  background-color: aliceblue;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

.icon {
  width: 16px;
  color: #a4a6b3;
}

.menu-item {
  width: 100%;
  display: flex;
  gap: 8px;
  padding: 8px 12px;
}

.logo {
  display: flex;
  align-items: center;
  padding: 0 12px;
  gap: 16px;
}

.selected-menu {
  background-color: aliceblue;
  font-weight: 700;
  cursor: pointer;
}

.selected-menu:hover {
  background-color: aliceblue;
}

#header {
  grid-column-start: 1;
  grid-column-end: 9;
  display: grid;
  grid-template-columns: 1fr 320px;
  height: fit-content;
  padding: 0 8px;
}

.header-util {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.header-l,
.header-r {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.header-l {
  border-right: 1px solid #a4a6b3;
  padding-right: 24px;
}

.hidden {
  display: none;
}

.disabled {
  cursor: not-allowed;
}

.disabled:hover {
  background-color: #363740;
  font-weight: 400;
}

.text-white {
  color: white;
}

.card {
  border: 2px solid #dfe0eb;
  border-radius: 8px;
  background-color: white;
  padding: 16px 20px;
}

#portfolio {
  grid-column-start: 1;
  grid-column-end: 5;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  padding: 20px 8px;
}

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}

.port-content > h2 {
  margin-bottom: 12px;
}

.card-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
}

.card-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 4px;
  border-radius: 4px;
  font-weight: 500;
  color: black;
}

.card-link > .icon {
  color: #3751ff;
}

.card-link:hover {
  background-color: #3752ff21;
  color: #3751ff;
  font-weight: 700;
}

#education {
  grid-column-start: 5;
  grid-column-end: 8;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px 8px;
}

.education {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}

.edu-row {
  display: grid;
  grid-template-columns: 1fr;
}

.edu-row > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edu-row > p {
  font-size: 0.8rem;
}

.badge {
  font-size: 0.6rem;
  font-weight: 700;
  border-radius: 8px;
  text-align: center;
  padding: 2px 8px;
  min-width: 76px;
}

.completed {
  background-color: #29cc97;
}

.in-progress {
  background-color: #3751ff;
}

.not-started {
  background-color: #f0f1f7;
}

.footer {
  grid-column-start: 1;
  grid-column-end: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  height: fit-content;
}

.fa-github {
  transition: transform 0.3s ease-in-out;
  font-size: 20px;
  color: black;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}
