<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" initial-scale="1" />
  <meta
    name="description"
    content="An implementation of a very basic Express website developed as a tutorial example on the Mozilla Developer Network."
  />
  <link rel="stylesheet" href="/stylesheets/reset.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Local Library | felixtanhm portfolio</title>
</head>
