<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" initial-scale="1" />
  <meta
    name="description"
    content="An implementation of a very basic Express website developed as a tutorial example on the Mozilla Developer Network."
  />
  <link rel="stylesheet" href="/stylesheets/reset.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link
    rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎓</text></svg>"
  />
  <script
    src="https://kit.fontawesome.com/4c536a6bd5.js"
    crossorigin="anonymous"
  ></script>
  <title>Local Library | felixtanhm portfolio</title>
</head>
