<nav id="sidebar">
  <div id="first-nav">
    <a href="/catalog">Home</a>
    <a href="/catalog/books">Books</a>
    <a href="/catalog/authors">Authors</a>
    <a href="/catalog/genres">Genres</a>
    <a href="/catalog/bookinstances">Genres</a>
  </div>
  <div id="second-nav">
    <a href="/catalog/author/create">Create author</a>
    <a href="/catalog/genre/create">Create genre</a>
    <a href="/catalog/book/create">Create book</a>
    <a href="/catalog/bookinstance/create">Create book copy</a>
  </div>
</nav>
